USE [master]
GO
/****** Object:  Database [ESun]    Script Date: 2024/5/16 下午 04:32:14 ******/
CREATE DATABASE [ESun]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESun', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESun.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESun_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ESun_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESun].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESun]
GO
/****** Object:  User [saa]    Script Date: 2024/5/16 下午 04:32:14 ******/
CREATE USER [saa] FOR LOGIN [saa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [saa]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2024/5/16 下午 04:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Comment ID] [int] IDENTITY(1,1) NOT NULL,
	[User ID] [int] NULL,
	[Post ID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Created At] [datetime] NULL,
 CONSTRAINT [PK__Comment__8997F05E9341A13C] PRIMARY KEY CLUSTERED 
(
	[Comment ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 2024/5/16 下午 04:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Post ID] [int] IDENTITY(1,1) NOT NULL,
	[User ID] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Created At] [datetime] NULL,
 CONSTRAINT [PK__Post__C9B9ED18DCA5D501] PRIMARY KEY CLUSTERED 
(
	[Post ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2024/5/16 下午 04:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User ID] [int] IDENTITY(1,1) NOT NULL,
	[User Name] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[Cover Image] [nvarchar](max) NULL,
	[Biography] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Users__8D49EF0CDA70F2A3] PRIMARY KEY CLUSTERED 
(
	[User ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__Post ID__3D5E1FD2] FOREIGN KEY([Post ID])
REFERENCES [dbo].[Post] ([Post ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__Post ID__3D5E1FD2]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__User ID__3C69FB99] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([User ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__User ID__3C69FB99]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK__Post__User ID__398D8EEE] FOREIGN KEY([User ID])
REFERENCES [dbo].[Users] ([User ID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK__Post__User ID__398D8EEE]
GO
USE [master]
GO
